@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
      height: 100vh;
      background-color: var(--background-color);
      text-align: center;
      padding: 2rem;
}
.header_content{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
}
.logo-icons{
    height: 2.475rem;
    width: 3.238rem;
}
.nav{
    display:none;
    gap:2rem ;
}
@media screen and (min-width : 809px) {
    .nav{
        display: flex;
        gap: 2rem;
    }
}
.nav-links{
    color: #718096;
    font-size: 1.1rem;
    font-weight: 600;
    transform: color 1s;
}
.nav-links:hover{
    color: var(--link-color);
}
.nav:hover{
    color: var(--link-color);
}
.logo-Top-text{
    font-size: 1.5rem;
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    padding: 0.5rem 0.9rem;
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    transform: all 1s;
} 
@media screen and (min-width : 809px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
    border: none;
    display: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}
.menu-icon{
    height: 1.8rem;
    width: 1.4rem;
}

@media screen and (max-width : 809px) {
    .menu-button{
        display : block
    }
}
.main-section{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.6rem;
    align-items: center;
    gap: 2rem;
}


.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
} 

.section-label{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-heading{
    font-size: 2.2rem;
    color: var(--text-color);
    padding: 1rem;
}
.section-desc{
    color: var(--gray);
    font-size: 1.15rem;
}
.button-group{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center ;
    padding: 1rem;
}
.start-button , .tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    padding: 0.5rem 0.9rem;
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    transform: all 1s;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 60vh;
    width: 50vw;
}
.section-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width : 809px) {
    .main-section{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1.4rem;
    }
    .content-left{
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .content-right{
        width: 50%;
    }
    .section-heading{
        padding: 0;
    }
   .button-group{
    justify-content: start;
    padding-left: 0;
   }   
   .section-label{
    font-size: 1.1rem;
   }
   .section-heading{
    font-size: 3.1rem;
   }
   .image-container{
    height: 65vh;
   }
   .section-desc{
    font-size: 1rem;
   }
}

.company-container{
 display: flex;   
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 2rem;
 gap: 1rem;
 animation: logoSlideLeftt 1s ease forwards;
 opacity: 0;
}
@keyframes logoSlideLeftt {
    0%{
          transform: translateX(-100%);
          opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 1.8rem 2.2rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.2rem;

}
.svg-img{
    height: 1.5rem;
}
.logo-text{
         font-size: 1rem;
}
@media screen and (min-width : 809px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
        /* gap: 1.2rem; */
        /* justify-content: center; */
    }
    .company-title{
        font-size: 2rem;
        font-weight: bold;
    }
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2rem 0;
}
.feature-content{
    max-width: 450px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-title{
    font-size: 2.3rem;
}
.main-description{
    color: var(--gray);
    font-size: 1rem ;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 1.4rem;
    margin-top: 1.3rem;
}
@media screen and (max-width : 808px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }

}
.feature-svg{
           height: 1.5rem;
           width: 1.4rem;
}
.icons-container{
    background-color: var(--background-color);
    height: 3rem; 
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2563eb;
    padding: 1rem;
    border-radius: 0.4rem;
    gap: 1.3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.feature-description {
  color: white;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
.testimonials-container{
    background-color: var(--background-color);
    padding: 2rem 0;
}
.testimonials-content{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 280px , 1fr));
    gap: 2rem;
}
.testimonials-card{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 1s ease , box-shadow 1s ease ;
}
.testimonials-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    border: 1px solid blue;

}

.testimonials-text{
    color: #555;
    font-size: 0.875rem;
}
.testimonials-avatar img {
    height: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.testimonial-name{
    font-size: 1rem;
    color: var(--primary-color);
}
.testimonials-description{
    font-size: 0.875rem;
    color: #777;
}
.newsletter-container{
    background-color: var(--background-color);
    padding: 1.6rem;
    max-width: 1280px;
    height: 50vh;
    margin: 0 auto;

}
.news-content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
.news-left{
    height: 100%;
    width: 50%;
    display: none;
    position: relative;
}
.news-left img{
    position: absolute;
    inset: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
@media screen and (min-width : 640px) {
    .news-left{
      display: block;


    }
    .newsletter-container{
        padding: 2rem;
    }
}
.news-info{
    padding: 0 1.2rem;
}
.news-title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}
.news-description{
text-align: left;
color: #777 ;
}
.news-form{
    padding: 0 1rem ;
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.7rem  ;
}
.news-email:focus{
    border: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.news-send-button{
        background-color: var(--primary-color);
        color: var(--background-color);
        border: none;
        padding: 0.5rem 1rem ;
        border-radius: 0.25rem;
}
.news-send-button:hover{
    background-color: var(--link-color);
}
.privacy-policy{
     color: #777;
    padding: 0 0.4rem;
    font-size: 0.9rem;
}
.news-link{
    text-decoration: underline;
    color: #2563eb;
    font-size: 0.8rem;
}